.Board {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.Board svg g text {
    cursor: pointer;
}

.Board svg g text:only-of-type {
    cursor: auto;
}

.Board button.Sidelength {
    width: 30%;
    border: 0;
    padding: 1em;
    margin-right: 5%;
}

.Board button.Sidelength:last-child {
    margin-right: 0;
}