@import "~bootstrap/scss/bootstrap.scss";

a:hover {
    cursor: pointer;
}

#Board {
    svg g text {
        cursor: pointer;

        &:only-of-type {
            cursor: default;
        }
    }
}