$blue : #2267cf;
@import "bootstrap/scss/bootstrap";

a:hover {
    cursor: pointer;
}

main {
    svg {
        position: relative;
        top: 50%; left: 0;
        transform: translate(0, -50%);

        max-height: 90%;
        max-width: 90%;

        g text {
            cursor: pointer;

            &:only-of-type {
                cursor: default;
            }
        }
    }
}
